<div id="shopify-section-1581396079736" class="shopify-section">
  <div data-section-id="1581396079736" data-section-type="section-product-v5">
    <div class="section-product-v5">
      <div class="container container-v2">
        <div class=" heading text-center">
          <h3 class="mb-0 title_heading"
              id="products-slider">{{'new_arrivals'|translate}}</h3>
        </div>

        <div class="row product_new slick_product_new-h4">

          <ngx-slick-carousel class="col-12"
                              #slickModal="slick-carousel"
                              [config]="options">
            <div ngxSlickItem *ngFor="let item of products" class="slide mx-2">
              <div class="product-item-v1 product-item">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product cursor-pointer">
                    <div [routerLink]="'/product/'+item.id"
                         class="thumb-link cursor-pointer engoj_find_img relative d-block overflow-hidden">
                      <img style="width: 100%"
                           [src]="imageBase + item.images[2]"
                           class="img-responsive"
                           [alt]="item.name">


                      <img style="width: 100%"
                           [src]="imageBase + item.images[3]"
                           class="img-responsive absolute img-product-hover"
                           [alt]="item.name">


                    </div>
                    <div class="quick-view">
                      <div
                        class="engoj_btn_quickview cursor-pointer icon-quickview inline-block box-shadow"
                        [routerLink]="'/product/'+item.id" data-original-title="Quickview">
                        Quickview
                      </div>
                    </div>

                    <!--     SOLD OUT -->

                    <!-- END SOLD OUT     -->
                  </div>

                  <!--     label product -->


                  <figure style="background : #741313; color: #ffffff"
                          class="absolute uppercase label-sale text-center">
                    <span>Sale</span>
                  </figure>


                  <!--     END LABEL -->


                  <!--     ICON PRODUCT -->
                  <div class="details-info">


                    <div class="product-icon-action">

                      <div class="add-wishlist">

                        <div  [routerLink]="'/product/'+item.id"
                           class="box-shadow cursor-pointer icon-heart inline-block maxus-product__wishlist wish text-center"
                           data-toggle="tooltip" data-placement="top"
                           data-original-title="Add to Wishlist">

                          <i class="ti-heart "></i>

                        </div>

                      </div>

                      <div class="add-to-cart">


                        <form class="inline-block icon-addcart  box-shadow"
                              data-toggle="tooltip" data-placement="top"
                              data-original-title="Add to Cart">
                          <input type="hidden" name="id" value="32132299554860"/>
                          <button type="submit"
                                  [routerLink]="'/product/'+item.id"
                                  name="add" class=" cursor-pointer enj-add-to-cart-btn ">
                            {{'see_more'|translate}}
                          </button>
                        </form>


                      </div>

                      <div class="compare-button">
                        <div  [routerLink]="'/product/'+item.id"
                           class="compare button icon-compare inline-block box-shadow"
                           data-toggle="tooltip" data-placement="top" title="Viewnow">

                          <i class="ti-control-shuffle"></i>

                        </div>
                      </div>

                    </div>

                    <!--     END ICON -->


                  </div>

                  <div class="info-product">
                    <h4 class="des-font cursor-pointer capital slider title-product mb-0 flex">
                      <div [routerLink]="'/product/'+item.id" class="cursor-pointer">{{item.name}}</div>

                    </h4>

                    <span class="shopify-product-reviews-badge" data-id="4530299142188"></span>

                    <!--     PRICE -->


                    <p class="price-product">
                      <span class="price">{{item.price}}</span>
                    </p>
                  </div>


                </div>

              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
