.img-product {
  padding-top: 100%;

  .thumb-link{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    min-height: unset;
  }

  //width: 200px;
}

.product_new {
  display: flex;
  justify-content: space-between;

  .prod {
    //width: 300px;
  }
}


.invisible {
  opacity: 0;
}

.title-product{
  div{
    height: 60px;
  }
}

.price-product{
  margin-top: 0 !important;
}
