.content-section-blog{
  position: relative;
  padding-top: 100%;
}
.picrure{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  img{
    object-fit: cover;
    object-position: top center;
    height: 100%;
    width: 100%;
  }
}

//.picrure{
//  height: 228px;
//  img{
//        height: 100%;
//        width: 100%;
//    object-fit: cover;
//    object-position: top;
//    &.center{
//      object-position: center
//    }
//  }
//}
