<div id="shopify-section-1581153949985" class="shopify-section index-section">
  <div data-section-id="1581153949985" data-section-type="section-blog-v3" style="margin-top: 50px;  ">
    <div class="section-blog-v3" style="background-color: #fbf3f0;">
      <div class="container container-v2">


        <div class=" heading text-center">
          <h3 class="mb-0 title_heading text-center">JOURNAL</h3>
        </div>


        <div class="row js-blog-v3 content-blog">


          <div class="col-lg-4 text-center">
            <div class="content-section-blog">
              <div class="picrure">
                <a href="blogs/news/brand-spotlight-amouage-perfumes.html">
                  <img src="./assets/articles/blog12_1024x1024ce1b.jpg?v=1581153615"
                       alt="Brand Spotlight: Amouage Perfumes" class="img-fluid">
                </a>
              </div>

              <div class="info_blog">

                <div class="date">
                  <span class="day">February 07, 2020</span>
                </div>


                <h4 class="mb-0 title-blog"><a
                  href="blogs/news/brand-spotlight-amouage-perfumes.html">Brand Spotlight:
                  Amouage Perfumes</a></h4>


                <p class="content mb-0">
                  Cauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula.
                  Praesent nonummy mi in odio. Etiam imperdiet imperdiet orci. Sed cursus
                  turpis vitae tortor. Cum...
                </p>

              </div>

            </div>
          </div>


          <div class="col-lg-4 text-center">
            <div class="content-section-blog">
              <div class="picrure">
                <a href="blogs/news/your-1-guide-to-always-smelling-exquisite.html">
                  <img src="./assets/articles/blog9_246332d9-5d6d-4cc0-9c51-945cd59515e2_1024x1024e508.jpg?v=1581153559"
                       alt="Your #1 Guide to Always Smelling Exquisite" class="img-fluid">
                </a>
              </div>

              <div class="info_blog">

                <div class="date">
                  <span class="day">February 07, 2020</span>
                </div>


                <h4 class="mb-0 title-blog"><a
                  href="blogs/news/your-1-guide-to-always-smelling-exquisite.html">Your #1
                  Guide to Always Smelling Exquisite</a></h4>


                <p class="content mb-0">
                  Cauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula.
                  Praesent nonummy mi in odio. Etiam imperdiet imperdiet orci. Sed cursus
                  turpis vitae tortor. Cum...
                </p>

              </div>

            </div>
          </div>


          <div class="col-lg-4 text-center">
            <div class="content-section-blog">
              <div class="picrure">
                <a href="blogs/news/top-10-timeless-classic-fragrances-for-him.html">
                  <img src="./assets/articles/blog8_b3ef5c37-333f-44e6-abe4-94c739ef1580_1024x10246bae.jpg?v=1581153540"
                       alt="Top 10 Timeless & Classic Fragrances for Him" class="img-fluid">
                </a>
              </div>

              <div class="info_blog">

                <div class="date">
                  <span class="day">February 07, 2020</span>
                </div>


                <h4 class="mb-0 title-blog"><a
                  href="blogs/news/top-10-timeless-classic-fragrances-for-him.html">Top 10
                  Timeless & Classic Fragrances for Him</a></h4>


                <p class="content mb-0">
                  Cauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula.
                  Praesent nonummy mi in odio. Etiam imperdiet imperdiet orci. Sed cursus
                  turpis vitae tortor. Cum...
                </p>

              </div>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>


</div>
