<div id="shopify-section-1578017585177" class="shopify-section index-section">
  <div data-section-id="1578017585177" data-section-type="section-slideshow-v1" style="  ">
    <div class="section-slideshow-v1">
      <ngx-slick-carousel [config]="options">
        <div class="itemv-slide-h1" ngxSlickItem>
          <div class="  info-sideh1 ">
            <div class="picture-slideshow">

              <div [routerLink]="'/product/d3a6e82a-7dab-4559-b3bc-7e8b0a308654'">
                <img class="w-100 cursor-pointer"
                     src="./assets/images/cover_1.jpg"
                     class="img-responsive img_slideh1" alt="">
              </div>

            </div>

            <div class=" box-content-right">

              <div class="box-info box-info-1578017585177-1">
                <div class="box-title">

                  <h3 class="titlebig mb-0" style="">Grace Oriflame Perfume</h3>

                </div>
                <div class="box-title2">

                  <h3 class="title-small mb-0" style="">The world's largest
                    selection of</h3>

                </div>

                <a class="mt-4 button-main1 button-shop-1578017585177-1 "
                   (click)="scrollTo()"
                   href="#products-slider">
                  {{'see_more'|translate}}
                </a>


              </div>

            </div>
          </div>
        </div>


        <div class="itemv-slide-h1" ngxSlickItem>
          <div class="  info-sideh1 ">
            <div class="picture-slideshow">
              <div class="cursor-pointer"
                   [routerLink]="'./product/dbb356af-3543-4ec9-8c2e-fcd41891087b'">
                <img src="./assets/images/cover_2.jpg"
                     class="img-responsive img_slideh1 w-100" alt="">
              </div>

            </div>

            <div class=" box-content-center   ">

              <div class="box-info box-info-1578017585177-0">
                <div class="box-title">

                  <h3 class="titlebig mb-0">Women Perfume</h3>

                </div>
                <div class="box-title2">

                  <h3 class="title-small mb-0">Discount Perfume up to
                    80% off</h3>

                </div>

                <div class="mt-4 cursor-pointer button-main1 button-shop-1578017585177-0 "
                     [routerLink]="'./product/dbb356af-3543-4ec9-8c2e-fcd41891087b'">
                  {{'see_more'|translate}}
                </div>


              </div>

            </div>
          </div>
        </div>


        <div class="itemv-slide-h1" ngxSlickItem>
          <div class="  info-sideh1 ">
            <div class="picture-slideshow">

              <div class="cursor-pointer"
                   [routerLink]="'./product/16910c3-56d1-4f7f-9a94-77a0514de4c2'">
                <img class="w-100"
                     src="./assets/images/cover_3.jpg"
                     class="img-responsive img_slideh1" alt="">
              </div>

            </div>

            <div class=" box-content-right  ">

              <div class="box-info box-info-1578017585177-2">
                <div class="box-title">

                  <h3 class="titlebig mb-0">Most Popular perfume</h3>

                </div>
                <div class="box-title2">

                  <h3 class="title-small mb-0">Use The Code
                    “PERFUMOR40”</h3>

                </div>

                <div class="mt-4 button-main1 button-shop-1578017585177-2 cursor-pointer"
                     [routerLink]="'./product/16910c3-56d1-4f7f-9a94-77a0514de4c2'">
                  {{'see_more'|translate}}
                </div>


              </div>

            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <style>


    .section-slideshow-v1 .button-shop-1578017585177-1 {
      color: #fff !important;
      background: #000;
    }

    .section-slideshow-v1 .button-shop-1578017585177-1:hover {
      color: #fff !important;
      background: #eb747b;
    }


    .section-slideshow-v1 .button-shop-1578017585177-0 {
      color: #fff !important;
      background: #000;
    }

    .section-slideshow-v1 .button-shop-1578017585177-0:hover {
      color: #fff !important;
      background: #eb747b;
    }


    .section-slideshow-v1 .button-shop-1578017585177-2 {
      color: #fff !important;
      background: #000;
    }

    .section-slideshow-v1 .button-shop-1578017585177-2:hover {
      color: #fff !important;
      background: #eb747b;
    }


  </style>


</div>
