<div id="shopify-section-1581063197583" class="shopify-section">
  <div data-section-id="1581063197583" data-section-type="section-banner-v5" style=" ">
    <div class="section-banner-v5 mt-all">
      <div class="container container-v2">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-4 text-left">
            <div class="box-info banner-1">
              <div class="box-img">

                <a href="collections/all.html"><img
                  src="./assets/files/banner-v5-img1ae71.jpg?v=1581404990"
                  class="img-fluid"></a>

              </div>

              <div class="content-banner">

                <a style="color: " href="collections/all.html" class="title mb-0">Perfume
                  club</a>


                <p style="color: " class="sub-title">
                  The new fragrance for women
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-8 col-md-8 text-left">
            <div class="box-info banner-2">
              <div class="box-img">

                <a href="collections/all.html"><img
                  src="./assets/files/banner-v5-img23c7d.jpg"
                  class="img-fluid"></a>

              </div>

              <div class="content-banner">

                <a style="color: " href="collections/all.html" class="title mb-0">Burberry
                  Perfumes Collection</a>


                <p class="sub-title" style="color : ">
                  The Story of Perfume | Office for Science and Society
                </p>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
