<div id="shopify-section-header" class="shopify-section index-section"><!-- /sections/header.liquid -->


  <header id="header" class="header-v1-h1 js_height_hd jsheader1 d-none d-xl-block header-absolute "
          [ngClass]="classList">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="logo">
            <div class="center logo delay05">

              <a href="index.html">

                <img src="./assets/files/logoba7b.png?v=1582085465"
                     width="190" alt="Charmee - Perfume And Cosmetics Shopify Theme">

              </a>

            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="menu right">
            <nav class="navbar navbar-expand-lg navbar-light p-0 text-center justify-content-between">
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a href="pages/about-us.html" title="About Us"
                       class="delay03 relative nav-link  menu_lv1 ">About Us</a>
                  </li>

                  <li class="nav-item dropdown">
                    <a href="pages/contact.html" title="Contact Us"
                       class="delay03 relative nav-link  menu_lv1 ">Contact Us</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-lg-8 currencies-login">
          <div class="cart-login-search align-items-center">
            <ul class="list-inline list-unstyled mb-0">
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="search js-search-destop">

                  <i class="ti-search"></i>

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="login js-call-popup-login">

                  <i class="ti-user"></i>


                </a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </header>


</div>

<!-- HEADING HIDDEN SEO -->

<h1 class="sr-only">Charmee - Perfume And Cosmetics Shopify Theme</h1>


<div class="search-full-destop">
  <div class="search-eveland js-box-search">
    <h3 class="drawer-search-title">Start typing and hit Enter</h3>
    <form class="wg-search-form" action="https://charmee-store-demo.myshopify.com/search">
      <input type="hidden" name="type" value="product">
      <input type="text" name="q" placeholder="Search anything" class="search-input">
      <button type="submit"><i class="icon-icon-search"></i></button>
    </form>
    <div class="drawer_back">
      <a href="javascript:void(0)" class="close-search js-drawer-close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="12px" height="12px" viewBox="0 0 12 12" enable-background="new 0 0 12 12"
             xml:space="preserve">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.437,12c-0.014-0.017-0.026-0.035-0.042-0.051
                                                           c-1.78-1.78-3.562-3.561-5.342-5.342c-0.016-0.016-0.028-0.034-0.07-0.064c-0.01,0.02-0.016,0.045-0.031,0.06
                                                           c-1.783,1.784-3.566,3.567-5.35,5.352C0.587,11.968,0.576,11.984,0.563,12c-0.004,0-0.008,0-0.013,0
                                                           C0.367,11.816,0.184,11.633,0,11.449c0-0.004,0-0.009,0-0.013c0.017-0.014,0.035-0.026,0.051-0.041
                                                           c1.781-1.781,3.562-3.562,5.342-5.342c0.017-0.016,0.036-0.027,0.06-0.044c-0.025-0.026-0.04-0.043-0.056-0.058
                                                           C3.613,4.168,1.83,2.385,0.046,0.601C0.032,0.587,0.016,0.576,0,0.563c0-0.004,0-0.008,0-0.013C0.184,0.367,0.367,0.184,0.551,0
                                                           c0.004,0,0.008,0,0.013,0C0.578,0.017,0.59,0.035,0.606,0.05c1.78,1.781,3.561,3.562,5.341,5.342
                                                           c0.016,0.016,0.027,0.035,0.045,0.059c0.025-0.024,0.041-0.039,0.057-0.054c1.783-1.784,3.566-3.567,5.35-5.351
                                                           C11.413,0.032,11.424,0.016,11.437,0c0.004,0,0.009,0,0.013,0C11.633,0.184,11.816,0.367,12,0.551c0,0.004,0,0.008,0,0.013
                                                           c-0.017,0.014-0.035,0.027-0.051,0.042c-1.78,1.78-3.561,3.561-5.342,5.341c-0.016,0.016-0.035,0.026-0.054,0.04
                                                           c-0.004,0.01-0.007,0.021-0.011,0.03c0.021,0.01,0.045,0.017,0.06,0.031c1.784,1.783,3.567,3.566,5.352,5.35
                                                           c0.014,0.014,0.03,0.025,0.046,0.038c0,0.004,0,0.009,0,0.013c-0.184,0.184-0.367,0.367-0.551,0.551C11.445,12,11.44,12,11.437,12z"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
<div class="js-minicart minicart">
  <div class="relative" style="height: 100%;">
    <div class="mini-content ">
      <div class="mini-cart-head">
        <a href="javascript:void(0)" class="mini-cart-undo close-mini-cart">
          <i class="ti-close"></i>
        </a>
        <h3 class="title">Shopping Cart</h3>
        <div class="mini-cart-counter"><span class="cart-counter enj-cartcount">0</span></div>
      </div>

      <div class="mini-cart-bottom enj-minicart-ajax">

        <div class="list_product_minicart empty">
          <div class="empty-product_minicart">
            <p class="mb-0">Your shopping bag is empty</p>
            <a href="collections/all.html" class="to-cart">Go to the shop</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="js-bg bg-minicart"></div>

<div class="menu_moblie d-flex d-xl-none jsmenumobile align-items-center ">
  <a href="javascript:void(0)" title="" class="menuleft">
    <span class="iconmenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>
  <div class="logo_menumoblie">


    <a href="index.html">

      <img src="./assets/files/logo_mobile_trang24a2.png?v=1581579465"
           width="140" alt="logo">

    </a>


  </div>
  <div class="menuright">
    <a href="javascript:void(0)" class=" pr-3 js-search-destop">

      <i class="ti-search"></i>

    </a>
  </div>
</div>
<div class="box_contentmenu_background">
</div>
<div class="box_contentmenu">
  <div class="tab_content_menu_mobile">
    <ul class="nav nav-tabs toptab_box_content list-unstyled mb-0" role="tablist">
      <li class="toptab_li">
        <a class="tab_navar active" href="#tab_menu_mobile" role="tab" data-toggle="tab">
          <span class="tab-menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="ml-3">Menu</span>
        </a>
      </li>
      <li class="toptab_li">
        <a class="tab_navar_right" href="#tab_account_mobile" role="tab" data-toggle="tab">
          <i class="icon-icon-user"></i>
          <span class="ml-2">Login</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane show in active tab_children_menu" id="tab_menu_mobile">
        <!--MOBILE MENU SECTION-->
        <div class="menu-horizon-list">

          <a href="index.html" title="Pages" class="relative nammenu ">Pages</a>


          <a href="#c5" class="toggle-menumobile collapsed js_icon_horizon-menu"
             data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-angle-right"></i>
          </a>
          <div id="c5" class="collapse ">


            <h2 class="title_menu_mb title_only_one"><a href="pages/about-us.html">About Us</a></h2>


            <h2 class="title_menu_mb title_only_one"><a href="pages/contact.html">Contact Us</a>
            </h2>


            <h2 class="title_menu_mb title_only_one"><a href="404Error.html">404</a></h2>


          </div>

        </div>
        <!--MOBILE MENU SECTION END-->
      </div>
      <!-- tab account login-regester-->
      <div role="tabpanel" class="tab-pane fade" id="tab_account_mobile">
        <div class="overlay_login-content">
          <div class="row justify-content-center box_content_accountdestop text-center">

            <div class="formlogin">
              <div class="login_primary CustomerLoginForm">
                <div class="login-icon">
                  <span class="icon-icon-user"></span>
                </div>
                <div class="mailrrr mt-3">
                  <form method="post"
                        action="https://charmee-store-demo.myshopify.com/account/login"
                        id="customer_login" accept-charset="UTF-8"><input type="hidden"
                                                                          name="form_type"
                                                                          value="customer_login"/><input
                    type="hidden" name="utf8" value="✓"/>

                    <div class="form-group">
                      <input type="email" class="form-control" name="customer[email]"
                             placeholder="Email adress" required>
                    </div>

                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password"
                             name="customer[password]" required>
                    </div>

                    <div class="form-check">

                      <a href="#recover" class="RecoverPassword">Forgot your password?</a>

                    </div>
                    <button type="submit" class="btn btn-dark w-100" value="Log In">
                      Log In
                    </button>
                  </form>
                </div>


                <div class="or_creat my-3">
                  <span>or</span>
                  <div><a href="javascript:void(0)" class="jsCreate_account">Register now <i
                    class="ml-3 ti-arrow-right"></i></a></div>
                </div>
              </div>
              <form method="post"
                    action="https://charmee-store-demo.myshopify.com/account/recover"
                    accept-charset="UTF-8"><input type="hidden" name="form_type"
                                                  value="recover_customer_password"/><input
                type="hidden" name="utf8" value="✓"/>


                <div class="RecoverPasswordForm" style="display: none;">
                  <div class="block-login">
                  <span>
                    <i class="ti-reload"></i>
                  </span>
                    <h2 class="title24 text-center title-form-account">Reset your
                      password</h2>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="email" class="form-control"
                               placeholder="Email adress" name="customer[email]"
                               required>
                      </div>
                    </div>
                    <div class="text-center mt-3">
                      <input type="submit" class="register-button" value="Submit">
                    </div>
                    <div class="table-custom create-account">
                      <div class="text-center mt-4">
                        <a class="HideRecoverPasswordLink" style="cursor: pointer;"
                           class="color">Cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="form_register">
              <div class="login_primary">
                <div class="login-icon register-icon">
                  <span class="ti-pencil-alt">
                  </span>
                </div>
                <span class="title_resgister">Register</span>
                <div class="mailrrr mt-3">
                  <form method="post"
                        action="https://charmee-store-demo.myshopify.com/account"
                        id="create_customer" accept-charset="UTF-8"><input type="hidden"
                                                                           name="form_type"
                                                                           value="create_customer"/><input
                    type="hidden" name="utf8" value="✓"/>

                    <div class="form-group">
                      <input type="email" placeholder="Email address" class="form-control"
                             name="customer[email]" required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control"
                             name="customer[password]" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-dark w-100" value="register">
                      register
                    </button>
                  </form>
                </div>
                <div class="or_creat my-3">
                  <span>or</span>
                  <div><a href="javascript:void(0)" class="jsBack_login">Back to login <i
                    class="ml-3 ti-arrow-right"></i></a></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="close-menu-mobile text-center js-eveland-close">
      <i class="ti-close mr-3"></i>Close
    </div>
  </div>
</div>
<div class="poup-login-destop js-poup-login-destop d-none d-xl-block">
  <div class="overlay_login-content">
    <div class="row justify-content-center box_content_accountdestop text-center">
      <div class="formlogin-destop">
        <div class="login_primary CustomerLoginForm">
          <div class="login-icon-popup-login">

            <a href="index.html">

              <img src="./assets/files/logoba7b.png?v=1582085465"
                   width="180" alt="Charmee - Perfume And Cosmetics Shopify Theme">

            </a>

          </div>
          <h2 class="title-tab-login">Great to have you back!</h2>
          <div class="mailrrr mt-3">
            <form method="post" action="https://charmee-store-demo.myshopify.com/account/login"
                  id="customer_login" accept-charset="UTF-8"><input type="hidden" name="form_type"
                                                                    value="customer_login"/><input
              type="hidden" name="utf8" value="✓"/>

              <div class="form-group">
                <input type="email" class="form-control" name="customer[email]"
                       placeholder="Email adress" required>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password"
                       name="customer[password]" required>
              </div>

              <div class="form-check">

                <a href="#recover" class="RecoverPassword">Forgot your password?</a>

              </div>
              <button type="submit" class="btn btn-dark w-100" value="Log In">
                Log In
              </button>
            </form>
          </div>

          <div class="or_creat my-3">
            <div class="box-register"><span class="or-register mr-2">Don’t have an account?</span><a
              href="javascript:void(0)" class="jsCreate_account">Register now <i
              class="ml-2 ti-arrow-right"></i></a></div>
          </div>
        </div>
        <form method="post" action="https://charmee-store-demo.myshopify.com/account/recover"
              accept-charset="UTF-8"><input type="hidden" name="form_type"
                                            value="recover_customer_password"/><input type="hidden"
                                                                                      name="utf8"
                                                                                      value="✓"/>


          <div class="RecoverPasswordForm" style="display: none;">
            <div class="block-login">
            <span class="login-icon">
              <i class="ti-reload"></i>
            </span>
              <h2 class="title_resgister title24 text-center title-form-account">Reset your
                password</h2>
              <div class="form-group mb-0 row">
                <div class="col-sm-12">
                  <input type="email" class="form-control" placeholder="Email adress"
                         name="customer[email]" required>
                </div>
              </div>
              <div class="text-center">
                <input type="submit" class="btn register-button" value="Submit">
              </div>
              <div class="table-custom create-account">
                <div class="box-register text-center mt-4">
                  <a class="HideRecoverPasswordLink" style="cursor: pointer;" class="color">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="form_register-destop">
        <div class="login_primary">
          <div class="login-icon register-icon">
            <span class="ti-pencil-alt">
            </span>
          </div>
          <span class="title_resgister">Register</span>
          <div class="mailrrr mt-3">
            <form method="post" action="https://charmee-store-demo.myshopify.com/account"
                  id="create_customer" accept-charset="UTF-8"><input type="hidden" name="form_type"
                                                                     value="create_customer"/><input
              type="hidden" name="utf8" value="✓"/>

              <div class="form-group">
                <input type="email" placeholder="Email address" class="form-control"
                       name="customer[email]" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="customer[password]"
                       placeholder="Password" required>
              </div>
              <button type="submit" class="btn btn-dark w-100" value="register">
                register
              </button>
            </form>
          </div>
          <div class="or_creat my-3">
            <div class="box-register"><a href="javascript:void(0)" class="jsBack_login">Back to
              login <i class="ml-3 ti-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="eveland-close-login js-close-login"><i class="ti-close"></i></a>
  </div>
</div>
<div class="bg-login-popup js-bg-login-popup">
</div>
