<div id="shopify-section-header" class="shopify-section index-section"><!-- /sections/header.liquid -->
  <header id="header" class="header-v1-h1 js_height_hd jsheader1 d-none d-xl-block header-absolute"
          [class.dark]="isDark"
          [ngClass]="classList">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="logo">
            <div class="center logo delay05">
              <a [routerLink]="''">
                <img src="https://cdn.discordapp.com/attachments/902439034318651415/1027674492086005880/1.png"
                     width="150"
                     alt="Arabian Wind">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="menu right">
            <nav class="navbar navbar-expand-lg navbar-light p-0 text-center justify-content-between">
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <div [routerLink]="'/about-us'"
                         title="About Us"
                       class="delay03 cursor-pointer relative nav-link  menu_lv1 ">
                     {{'about_us'|translate}}
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <div [routerLink]="'/contact-us'"
                         title="Contact Us"
                       class="delay03 cursor-pointer relative nav-link  menu_lv1 ">
                      {{'contact_as'|translate}}
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-lg-8 currencies-login">
          <div class="cart-login-search align-items-center">
            <ul class="list-inline list-unstyled mb-0">
              <li class="list-inline-item mr-0">
                <app-language-controller>
                </app-language-controller>
<!--                <div class="cursor-pointer lang-selector">-->
<!--                  <select name="language-picker-select"-->
<!--                          [formControl]="languageSelector" id="language-picker-select">-->
<!--                    <option *ngFor="let lang of languages" [value]="lang.value">{{lang.label}}</option>-->
<!--                  </select>-->
<!--                </div>-->
              </li>
<!--              <li class="list-inline-item mr-0">-->
<!--                <a href="javascript:void(0)" class="login js-call-popup-login">-->

<!--                  <i class="ti-user"></i>-->


<!--                </a>-->
<!--              </li>-->
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </header>


</div>

<!-- HEADING HIDDEN SEO -->

<h1 class="sr-only">Arabian Wind</h1>

<div class="menu_moblie d-flex d-xl-none jsmenumobile align-items-center ">
  <div class="logo_menumoblie">
    <a href="index.html">
      <img src="https://cdn.discordapp.com/attachments/902439034318651415/1027674492086005880/1.png"
           width="140" alt="logo">
    </a>
  </div>
  <div class="menuright">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item dropdown mr-3">
        <div [routerLink]="'/about-us'"
             title="About Us"
             class="delay03 cursor-pointer relative nav-link  menu_lv1 ">
          {{'about_us'|translate}}
        </div>
      </li>

      <li class="nav-item dropdown">
        <div [routerLink]="'/contact-us'"
             title="Contact Us"
             class="delay03 cursor-pointer relative nav-link  menu_lv1 ">
          {{'contact_as'|translate}}
        </div>
      </li>
    </ul>
    <app-language-controller>
    </app-language-controller>

<!--    <div class="cursor-pointer lang-selector dark">-->

<!--      <select name="language-picker-select"-->
<!--              [formControl]="languageSelector">-->
<!--        <option *ngFor="let lang of languages" [value]="lang.value">{{lang.label}}</option>-->
<!--      </select>-->
<!--    </div>-->
  </div>
</div>
<div class="box_contentmenu_background">
</div>
