<div class="wrap">
  <div class="contentbody">


    <app-header [isDark]="true"></app-header>

  </div>

  <div id="shopify-section-about-template" class="shopify-section">
    <div class="wrap-bread-crumb breadcrumb_collection2">
      <div class="bg-breadcrumb"
           style="background-image : url(./assets/images/banner-v6-img1997b.png)">
        <div class="container container-v2">
          <div class="title-page">

            <h2 class="">{{'about_us'|translate}}</h2>

          </div>
          <!-- /snippets/breadcrumb.liquid -->


          <div class="bread-crumb">
            <a [routerLink]="'/'" title="Back to the frontpage" class="cursor-pointer">{{'home'|translate}} <i class="fa fa-angle-right"
                                                                         aria-hidden="true"></i>
            </a>

            <strong>{{'about_us'|translate}}</strong>


          </div>


        </div>
      </div>
    </div>
    <section>
      <div class="aboutus-pages">
        <div class="container container-v2">

          <div class="about-introduce">
            <div class="row">


              <div class="col-md-6 intro_detail d-flex align-items-center">
                <div class="info-intro">
                  <h3 class="title_intro">{{'who_we_are'|translate}}</h3>
                  <p class="des_intro">Fashion democracy</p>
                  <p class="content_intro">
                    {{'about_us_first'|translate}}
                  </p>
                </div>
              </div>
              <div class="col-md-6 intro_image ">
                <img class="w-100"
                     src="https://grasseclub.ru/upload/iblock/03e/ny482xhhl0oefw3zo0f1hnw07cx24n18.jpeg">
              </div>


              <div class="col-md-6 intro_image">
                <img class="w-100"
                     src="https://grasseclub.ru/upload/iblock/e49/y0bqcxc3vqq5wimlzsn1dgxgemd1lens.jpeg">
              </div>
              <div class="col-md-6 intro_detail d-flex align-items-center">
                <div class="info-intro">
                  <h3 class="title_intro">{{'choice_for_all'|translate}}</h3>
                  <p class="des_intro">Fashion democracy</p>
                  <p class="content_intro">{{'about_us_second'|translate}}</p>
                </div>
              </div>


            </div>
          </div>

        </div>

      </div>
    </section>


  </div>
  <app-footer></app-footer>

  <div id="back-to-top" class="one">
    <i class="ti-angle-up"></i>
  </div>


</div>
