<div id="shopify-section-contact-template" class="shopify-section">
  <div class="wrap-bread-crumb breadcrumb_collection2">
  <div class=" bg-breadcrumb" style="background-image : url(assets/files/banner-collection8245.jpg?v=1581157965)">
    <div class="container container-v2">
      <div class="title-page">

        <h2 class="">Contact</h2>

      </div>
      <!-- /snippets/breadcrumb.liquid -->



      <div class="bread-crumb">
        <a [routerLink]="''"title="Back to the frontpage">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a>

        <strong>Contact</strong>


      </div>




    </div>
  </div>
</div>
  <section id="content">
    <div class="content-page contact-page">
      <div class="container container-v2">
        <h3 class="title_desc">Contact us to find out more or how <br> we can help you better.</h3>

        <a class="d-block" style="margin-bottom: 50px" target="_blank" href="https://www.google.com/maps/place/Mỹ+Đình,+Nam+Từ+Liêm,+Hà+Nội,+Việt+Nam/@20.9953536,105.7292912,13.42z/data=!4m5!3m4!1s0x313454bab9b67e93:0xbbe16aced529963f!8m2!3d21.0234709!4d105.7732633">
          <img src="assets/files/contact-use83f.jpg?v=1581559494">
        </a>

      </div>

      <div class="container">
        <div class="contact-form">
          <div class="row">

            <div class="col-md-6">
              <div class="address-shop">
                <h3 class="shop-name">
                  Charmee Perfume
                </h3>
                <p class="shop-address">3100 West Cary Street Richmond, Virginia 23221<br> P: 804.355.4383 F: 804.367.7901</p>
              </div>


              <div class=" info-shop ">
                <h3 class="title">
                  Store Hours
                </h3>
                <p class="content">Monday-Saturday 11am-7pm ET <br> Sunday 11am-6pm ET</p>
              </div>



              <div class=" info-shop ">
                <h3 class="title">
                  Specialist Hours
                </h3>
                <p class="content">Monday-Friday 9am-5pm ET</p>
              </div>



            </div>


            <div class="col-md-6 col-sm-6 col-12">
              <div class="contact-form-page">

                <form method="post" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />




                  <div class="contact-form">
                    <p class="contact-name">
                      <input class="" placeholder="Your Name (Required)" type="text" id="contactFormName" name="contact[name]" required>
                    </p>
                    <p class="contact-email">
                      <input class="" placeholder="Your Email (Required)" type="email" id="contactFormEmail" name="contact[email]" required>
                    </p>
                    <p class="contact-subject">
                      <input class="dark border" placeholder="Subject" type="text" id="contactFormSubject" name="contact[subject]" required>
                    </p>
                    <p class="contact-message">
                      <textarea class="" placeholder="Your Message" cols="30" rows="10" id="contactFormMessage" name="contact[body]" required></textarea>
                    </p>
                    <p class="contact-submit">
                      <input  class="shop-button" type="submit" value="Send To us">
                    </p>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>


      </div>
    </div>
  </section>
