<div id="shopify-section-footer" class="shopify-section index-section"><!-- /sections/footer.liquid -->
  <footer class="footer_v6"
          style="background-image: url(./assets/files/bg-footeradf0.jpg?v=1581393380);">
    <div class="top-footer">
      <div class="container container-v2">
        <div class="row">
          <div class="col-lg-6 col-md-6 pr-md-0 text-center">
            <div class="info_footer brleft">

              <h4 class="mb-0 title_footer">Follow US</h4>

              <div class="list-icon">
                <ul class="list-inline list-unstyled mb-0">

                  <li class="list-inline-item mr-0">
                    <a href="#" title="" target="_blank" class="social-item"><i
                      class="fa fa-twitter"></i></a>
                  </li>


                  <li class="list-inline-item mr-0">
                    <a href="#" title="" target="_blank" class="social-item"><i
                      class="fa fa-dribbble"></i></a>
                  </li>


                  <li class="list-inline-item mr-0">
                    <a href="#" title="" target="_blank" class="social-item"><i
                      class="fa fa-behance"></i></a>
                  </li>


                  <li class="list-inline-item mr-0">
                    <a href="#" title="" target="_blank" class="social-item"><i
                      class="fa fa-instagram"></i></a>
                  </li>

                </ul>
              </div>

              <div class="menu-footer">
                <ul class="list-inline list-unstyled mb-0">

                  <li class="list-inline-item mr-0"><a href="index.html" title="SITEMAP">SITEMAP</a>
                  </li>

                  <li class="list-inline-item mr-0"><a href="index.html" title="CONTACT US">CONTACT
                    US</a></li>

                  <li class="list-inline-item mr-0"><a href="index.html"
                                                       title="SUPPORT CENTER">SUPPORT
                    CENTER</a></li>

                  <li class="list-inline-item mr-0"><a href="index.html"
                                                       title="DELIVERY & RETURNS">DELIVERY &
                    RETURNS</a></li>

                  <li class="list-inline-item mr-0"><a href="index.html" title="FAQS">FAQS</a>
                  </li>

                </ul>
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 pl-md-0 text-center">
            <div class="info_footer">

              <h4 class="mb-0 title_footer">CONTACT US</h4>


              <p class="mb-0 content-contact">If you'd like to get in touch, please send us a
                message or use the live chat function below during regular business hours.</p>


              <p class="mb-0 content-email">example@domain.com</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright-footer text-center">

      <p class="mb-0 text-bottom-footer">Copyrights © 2023 <a
        href="http://shopilaunch.com/">Fiviro</a>. All rights reserved.</p>

    </div>

  </footer>


</div>
