<div id="shopify-section-footer" class="shopify-section index-section"><!-- /sections/footer.liquid -->
  <footer class="footer_v6"
          style="background-image: url(./assets/files/bg-footeradf0.jpg?v=1581393380);">
    <div class="top-footer">
      <div class="container container-v2">
        <div class="row">
          <div class="col-lg-6 col-md-6 pr-md-0 text-center">
            <div class="info_footer brleft">

              <h4 class="mb-0 title_footer">{{'follow_us'|translate}}</h4>

              <div class="list-icon">
                <ul class="list-inline list-unstyled mb-0">

                  <li class="list-inline-item mr-0">
                    <a href="#" title="" target="_blank" class="social-item"><i
                      class="fa fa-twitter"></i></a>
                  </li>


                  <li class="list-inline-item mr-0">
                    <a href="#" title="" target="_blank" class="social-item"><i
                      class="fa fa-dribbble"></i></a>
                  </li>


                  <li class="list-inline-item mr-0">
                    <a href="#" title="" target="_blank" class="social-item"><i
                      class="fa fa-behance"></i></a>
                  </li>


                  <li class="list-inline-item mr-0">
                    <a href="#" title="" target="_blank" class="social-item"><i
                      class="fa fa-instagram"></i></a>
                  </li>

                </ul>
              </div>


            </div>
          </div>
          <div class="col-lg-6 col-md-6 pl-md-0 text-center">
            <div class="info_footer">

              <h4 class="mb-0 title_footer">{{'contact_as'|translate}}</h4>


              <p class="mb-0 content-contact">{{'contact_info'|translate}}</p>


              <p class="mb-0 content-email">example@domain.com</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright-footer text-center">

      <p class="mb-0 text-bottom-footer">Copyrights © 2023 <a
        href="http://shopilaunch.com/">Fiviro</a>. All rights reserved.</p>

    </div>

  </footer>


</div>
