.img-product {
  padding-top: 100%;

  .thumb-link{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    min-height: unset;
    width: 100%;
    height: 100%;
  }

  //width: 200px;
}

.img-product {
  //padding-top: 100%;
  position: relative;
}

.tab-pane {
  .row {
    justify-content: center;
  }
}

//.img-product .thumb-link {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  top: 0;
//  left: 0;
//  display: flex !important;
//  align-items: center;
//  justify-content: center;
//}
//
.img-product .thumb-link img {
  //min-height: 491px;
  width: 100%;
  object-fit: cover;
  //  object-position: center;
  object-position: center;
  min-height: unset;
}

.product-item-v1 {
  margin-top: unset;
}
