<div id="shopify-section-1581145154201" class="shopify-section">
  <div data-section-id="1581145154201" data-section-type="section-product-v3" style=" ">
    <div class="section-product-v3">
      <div class="container container-v2">

        <div class="text-center mb-4">
          <h3 class="title_heading">{{'equipment'|translate}}</h3>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-12">
            <ul class="nav nav-tabs title-tab justify-content-center">

              <li>
                <a data-toggle="tab"
                   class="cursor-pointer active"
                   (click)="categoryChange.emit(-1)">
                  {{'all'|translate}}
                </a>
              </li>
              <li>
                <a data-toggle="tab"
                   class="cursor-pointer"
                   (click)="categoryChange.emit(productCategory.newArrivals)">
                  {{'new_arrivals'|translate}}
                </a>
              </li>

              <li>
                <a data-toggle="tab"
                   (click)="categoryChange.emit(productCategory.bestSellers)"
                   class="cursor-pointer">
                  {{'best_sellers'|translate}}
                </a>
              </li>

              <li>
                <a
                  data-toggle="tab"
                  (click)="categoryChange.emit(productCategory.topRates)"
                  class="cursor-pointer">{{'top_rates'|translate}}</a>
              </li>

            </ul>
          </div>
        </div>

        <div class="tab-content">


          <div id="a1" class="tab-pane fade show active">
            <div class="row">
              <ng-container *ngIf="!loading">
                <div *ngFor="let item of products"

                     class="col-lg-3 col-md-4 col-sm-6 col-6 product-tab-pd">
                  <div class="product-item-v1 product-item">

                    <div class="product mb-30 engoj_grid_parent relative">
                      <div class="img-product">
                        <div [routerLink]="'./product/'+item.id"
                             class="thumb-link cursor-pointer engoj_find_img relative d-block overflow-hidden">
                          <img style="width: 100%"
                               [src]="imageBase+item.images[0]"
                               class="img-responsive" alt="Kaydex Product Sample">

                          <img style="width: 100%"
                               [src]="imageBase+item.images[1]"
                               class="img-responsive absolute img-product-hover"
                               alt="Kaydex Product Sample">


                        </div>
                        <!--                      <div class="quick-view">-->
                        <!--                        <div-->
                        <!--                          [routerLink]="'./product/'+item.id"-->
                        <!--                           class="engoj_btn_quickview cursor-pointer icon-quickview inline-block box-shadow"-->
                        <!--                           data-id="kaydex-product-sample" data-toggle="tooltip"-->
                        <!--                           data-placement="top" data-original-title="Quickview">-->
                        <!--                          Quickview-->
                        <!--                        </div>-->
                        <!--                      </div>-->

                        <!--     SOLD OUT -->

                        <!-- END SOLD OUT     -->
                      </div>

                      <!--     label product -->

                      <!--     END LABEL -->


                      <!--     ICON PRODUCT -->
                      <div class="details-info">


                        <!--                      <div class="product-icon-action">-->

                        <!--                        <div class="add-wishlist">-->

                        <!--                          <a href="account/login.html"-->
                        <!--                             class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"-->
                        <!--                             data-toggle="tooltip" data-placement="top"-->
                        <!--                             data-original-title="Add to Wishlist">-->

                        <!--                            <i class="ti-heart "></i>-->

                        <!--                          </a>-->

                        <!--                        </div>-->

                        <!--                        <div class="add-to-cart">-->


                        <!--                          <form method="post"-->
                        <!--                                action="https://charmee-store-demo.myshopify.com/cart/add"-->
                        <!--                                enctype="multipart/form-data"-->
                        <!--                                class="inline-block icon-addcart  box-shadow"-->
                        <!--                                data-toggle="tooltip" data-placement="top"-->
                        <!--                                data-original-title="Add to Cart">-->
                        <!--                            <input type="hidden" name="id" value="32023427547180"/>-->
                        <!--                            <button type="submit" name="add"-->
                        <!--                                    class="enj-add-to-cart-btn ">-->
                        <!--                              Add to Cart-->
                        <!--                            </button>-->
                        <!--                          </form>-->


                        <!--                        </div>-->

                        <!--                        <div class="compare-button">-->
                        <!--                          <a href="products/kaydex-product-sample.html"-->
                        <!--                             class="compare button icon-compare inline-block box-shadow"-->
                        <!--                             data-toggle="tooltip" data-placement="top"-->
                        <!--                             title="Viewnow">-->

                        <!--                            <i class="ti-control-shuffle"></i>-->

                        <!--                          </a>-->
                        <!--                        </div>-->

                        <!--                      </div>-->

                        <!--     END ICON -->


                      </div>

                      <div class="info-product">
                        <h4 class="des-font capital title-product mb-0 flex">
                          <a href="products/kaydex-product-sample.html">
                            {{item.name}}
                          </a>

                        </h4>

                        <!--     PRICE -->


                        <p class="price-product">
                          <span class="price">
                          {{item.price}}
                        </span>
                        </p>
                      </div>


                    </div>

                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
