<div id="shopify-section-1581396059643" class="shopify-section">
  <div data-section-id="1581396059643" data-section-type="section-banner-v6" style=" ">
    <div class="section-banner-v6 mt-all">
      <div class="container container-v2">
        <div class="">
          <div class="banner-info banner-info-left text-center">

            <h3 class="title" style="color : ">Primrose Park</h3>


            <div class="subtitle" style="color : "><span>Your favourite styles have just dropped in new prints<br> get them before they go!</span>
            </div>


            <a href="collections/all.html" class="mt-3 d-inline-block btn-line" style="color:  ">SHOP
              NOW</a>


          </div>

          <div class="">
            <a href="collections/all.html">
              <img src="./assets/files/banner-v6-img1997b.jpg?v=1581396369"
                   class="w-100">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
