.shopify-section {
  height: 100px;
}

.img_thumb {
  //max-height: 200px;
}

.cover-image {
  object-fit: cover;
  max-height: 600px;
}

.slick_product_new-h4 {
  max-height: 500px;
  max-width: 500px;
  object-fit: contain;
}

.slick-dots {
  display: none;
}

.paragrap-content {
  .title {
    font-weight: 600;
    font-size: 16px;
    color: black;
  }
}

.additional-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin: 15px;
  }
}

.invisible {
  opacity: 0;
  position: absolute;
}

.itemv-slide-h1 {
  height: 400px;
  width: 400px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1200px) {
  .itemv-slide-h1 {
    max-height: 400px;
    max-width: 400px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

    }
  }

  .paragrap-content {
    max-width: 400px;
  }
}
